# Dependency
node_modules/

# IDE
.idea

# Enviroment variables
.env

# Logs
npm-debug.log*

# Docker
Dockerfile.*.sw[a-n]
Dockerfile.*.sw[op]
*.dockerignore
.dockerenv
.dockerinit

## PostgreSQL
**/postgres-data/
