<h1>{{{title}}}</h1>
<!-- 게시글 제목 -->
<h2 class='text-xl'>제목입니다.</h2>
<!-- 작성자 이름-->
<div>
  작성자: <b>작성자 이름</b>
</div>
<div>
  조회수 : 9999 | 작성일시 : 2024-04-08 00:00:00
  <!-- 함수 구현 필요 -->
  <button>수정</button>
  <button>삭제</button>
</div>

<div>
  <pre>Lorem ipsum dolor sit amet, consectetur adipisicing elit.A beatae consequatur doloremque doloribus error facilis id magnam maxime mollitia nobis numquam, officia quis quod rem repellendus sit utvoluptate voluptatem.</pre>
</div>

<section>
  <div>
    <h3>3개의 댓글이 있습니다</h3>
  </div>

  <form action='/write/comment' method='post'>
    <div>
      <div>
        <input type='text' name='author' id='author' placeholder='아이디'>
        <input type='password' name='password' id='password' placeholder='비밀번호'>
      </div>
      <div>
        <textarea name='comment' id='comment' cols='40' rows='3' placeholder='댓글을 입력해주세요'></textarea>
        <button>댓글 작성</button>
      </div>
    </div>
  </form>
</section>

<!-- 댓글 표시 -->
<section>
  <div>
    <div>
      작성자: <b>댓글 작성자</b>
    </div>
    <div>
      작성일시: 2024-04-08: 00:00:00
      <button>삭제</button>
    </div>
  </div>
  <div>
    <pre>{{{comment}}}</pre>
  </div>
</section>

<footer>
  <div>
    <a href='/'>전체글보기</a>
  </div>
</footer>
